* { margin: 0; padding: 0; box-content: border-box; }
.container, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7, .container-8 {  background:#ccc; 
 padding: 10px; 
 display: flex; 
 flex-direction:row; 
 justify-content: start; 
 background-color: black;
}

.item, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 { 
  margin:30px; 
  padding:30px; 
  background-color: magenta; 
}
.item-2 { background-color: #fff; }
.item-3 { background-color: gold; }
.item-4 { background-color: white; }
.item-5 { background-color: violet; }
.item-6 { background-color: #FFF; }
.item-7 { background-color: orange; }
.item-8 { 
  background-color: maroon; 
  color:#fff; 
}
.tall { height: 100px; }
.huge { font-size:70px; }

/* 
Container backgrounds:
background: silver
background: pink
background: tan
background-color:#f09
background-color: #58d
background: olive
background-image: linear-gradient(orange, yellow) 
*/

.bg {
  justify-content: center;
  background: silver
}

.container-2 {
  justify-content: space-between;
  background-color: #58d
}

.container-3 {
  justify-content: space-around;
  background: tan;
}

.container-4 {
  justify-content: space-evenly;
  background-image: linear-gradient(orange, yellow) 
}

.container-5 {
  justify-content: center;
  background-color: pink;
  align-items: center;
}
  

.container-6 {
  justify-content: center;
  background: olive;
  align-items: flex-start;
  
}

.container-7 {
  justify-content: center;
  background: tan;
  align-items: flex-end;
}

.container-8 {
  justify-content: center;
  background: silver;
   align-items: baseline;
}
