body {
  background-color: #F9F5F1;
}

img {
  width: 100%;
  min-width: 85%;
}

h1, button {
  font-family: Courier Prime;
  font-weight: bold
}

p {
  font-family: Montserrat;
  font-size: 16px;
}

h1 {
  font-size: 30px;
  padding-bottom: 20px;
  
}

button {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px 30px;
  font-size: 22px;
  font-style: italic;
  background-color: white;
  box-shadow: 5px 5px #BDB351;
  margin: -180px 0 0 300px; 
  z-index: 10;
  box-sizing: border-box;
}

.row {
  align-items: center;
}

.boxbg {
  background-color: #FFFEFA;
  padding: 90px 55px ;
  margin: 150px 100px;
  
}